USE [master]
GO
/****** Object:  Database [DB_APP_QuanLySinhVien]    Script Date: 2/3/2023 5:35:46 PM ******/
CREATE DATABASE [DB_APP_QuanLySinhVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_APP_QuanLySinhVien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DB_APP_QuanLySinhVien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_APP_QuanLySinhVien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DB_APP_QuanLySinhVien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_APP_QuanLySinhVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_APP_QuanLySinhVien]
GO
/****** Object:  Table [dbo].[Grade]    Script Date: 2/3/2023 5:35:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grade](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaSV] [nvarchar](50) NULL,
	[AnhVan] [float] NULL,
	[TinHoc] [float] NULL,
	[GDTC] [float] NULL,
 CONSTRAINT [PK_Grade] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 2/3/2023 5:35:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSV] [nvarchar](50) NOT NULL,
	[TenSV] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [bit] NULL,
	[DiaChi] [nvarchar](50) NULL,
	[HinhAnh] [nvarchar](50) NULL,
 CONSTRAINT [PK_SinhVien] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/3/2023 5:35:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NULL,
	[role] [bit] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Grade] ON 

INSERT [dbo].[Grade] ([id], [MaSV], [AnhVan], [TinHoc], [GDTC]) VALUES (35, N'PD04', 10, 5, 10)
INSERT [dbo].[Grade] ([id], [MaSV], [AnhVan], [TinHoc], [GDTC]) VALUES (38, N'PD03', 5, 10, 10)
SET IDENTITY_INSERT [dbo].[Grade] OFF
GO
INSERT [dbo].[SinhVien] ([MaSV], [TenSV], [NgaySinh], [GioiTinh], [DiaChi], [HinhAnh]) VALUES (N'PD02', N'Nguyen MInh Tuan', CAST(N'2003-11-01' AS Date), 1, N'Vinh Long', N'anh_nam_1.jpg')
INSERT [dbo].[SinhVien] ([MaSV], [TenSV], [NgaySinh], [GioiTinh], [DiaChi], [HinhAnh]) VALUES (N'PD03', N'Nguyen Minh Nguyet', CAST(N'2002-07-08' AS Date), 0, N'Ca Mau', N'NO AVATAR')
INSERT [dbo].[SinhVien] ([MaSV], [TenSV], [NgaySinh], [GioiTinh], [DiaChi], [HinhAnh]) VALUES (N'PD04', N'Tran Thi Lam Thanh', CAST(N'1998-01-07' AS Date), 0, N'Soc Trang', N'anh_nam_1.jpg')
GO
INSERT [dbo].[Users] ([username], [password], [role]) VALUES (N'admin', N'123456', 1)
INSERT [dbo].[Users] ([username], [password], [role]) VALUES (N'teonv', N'123456', 0)
GO
ALTER TABLE [dbo].[Grade]  WITH CHECK ADD  CONSTRAINT [FK_Grade_SinhVien] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
GO
ALTER TABLE [dbo].[Grade] CHECK CONSTRAINT [FK_Grade_SinhVien]
GO
USE [master]
GO
